	<!DOCTYPE html>
        <html lang="en">
        <head>
        <title>Ranjith's Web</title>
        <meta charset="utf-8">

	<!--Style steet
	 <link rel="stylesheet" type="text/css" href="style.css">-->
	</head>
	<body>
	 
		<h1 style="text-align: center;">Welcome to my Page</h1>
		<img src="IMG-20191216-WA0013.jpg" alt="Docker">
	
	</body>
	</html>

