<!DOCTYPE html>
        <html lang="en">
        <head>
        <meta charset="utf-8">
        <title>Ranjith's Web</title>
		
	</head>         
	<!--background-image: url("https://images.pexels.com/photos/356043/pexels-photo-356043.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");-->
                <style>
                        html{
                        background-color: white;
                        }
                </style>

	<body>
		<style>
                        body {
			color: black;
			margin: 0 auto;
                        width: 960;
			text-align: center;
                        font-family: arial. helvetica, sans-serif;
                        }
                </style>
	<header>
		<style>
			header {
                        background-color: #c5e8ec;
                        height: 100px;
                        padding-top: 5px;
                        }
                </style>
              	<ul>
		<style>
                        ul {
			padding: 0;
                        }
                </style>
		<style>
                        li {
                        float: left;
                        display: inline-block;
                        padding-left: 50px;
                        font-size: 20px;
			padding-bottom: 15px;
                        }

                </style>
		<li><a href= "/"><h3>Home</h3></a></li>
                <li><a href= "/experience"><h3>Tech Journey</h3></a></li>
		</ul>
	</header>
		
		<h1 style="align-text: center;">Those were the golden days with loads of fun </h1>

        
		<p style="align-text: center;">Complated Bachelors from <b>VMR Institute of Technology</b> in <b>2012</b>.</p> 
		<p style="align-text: center;">Done Plus two from <b>Narayana Junior College</b> in <b>2008</b></p>
		<p style="align-text: center;">Schooling was fun in my home town at <b>Childrens High School</b>. Ever since <b>I completed my schooling in 2006, I am missing it</b>.</p>
	
	</body>
	
	<footer>
	<style>
		footer {
  		background-color: #c5e8ec;
                height: 130px;
		width: 100%;
		bottom: 0;
        	left: 0;
        	right: 0;
  		text-align: center;
		position: fixed;
		display: block;
		}
	</style>

	 <p>Feel free to contact Me</p>
	   <address>
		   <p>Email: ranjithmr.reddy@gmail.com</p>
		   <p>Mobile: +91-7702513428</p>
		   <p style="color: white;"><a href="https://www.linkedin.com/in/ranjith-reddy-molugu/">LinkedIn</a></p>
  	  </address>
	</footer>
        </html>


